vcpkg_installed/*

CMakeSettings.json
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

*.vcxproj*
*.aps
.vs/
*.sln
Win32
Debug
Processor.dir
Processor_autogen

.idea/*
cmake-build-*/*
out/*
build/*
!.gitkeep

enc_temp_folder/
